* {
  box-sizing: border-box;
}

.gist {
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.gist-file {
  border: none !important;
}

.gist-data {
  padding: 10px 10px 40px;
}
